@model IEnumerable<Sorriso_em_Jogo.Application.ViewModels.UsuarioViewModel>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Lista de Usuários";
}

<h2>Lista de Usuários</h2>

<p>
    <a class="btn btn-primary" href="@Url.Action("Create", "Usuarios")">Adicionar Novo Usuário</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Data de Cadastro</th>
            <th>Pontos de Recompensa</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {
            <tr>
                <td>@usuario.Nome</td>
                <td>@usuario.Email</td>
                <td>@usuario.Data_cadastro.ToShortDateString()</td>
                <td>@usuario.Pontos_recompensa</td>
                <td>
                    <a class="btn btn-info" href="@Url.Action("Details", "Usuarios", new { id = usuario.Id_usuario })">Detalhes</a>
                    <a class="btn btn-warning" href="@Url.Action("Edit", "Usuarios", new { id = usuario.Id_usuario })">Editar</a>
                    <a class="btn btn-danger" href="@Url.Action("Delete", "Usuarios", new { id = usuario.Id_usuario })">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
